<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>May 1st Reboot</title>
    <link rel="stylesheet" href="css/main.<%= cssExt %>">
</head>

<body>

<div class="globe">
  <div id="preloader">
    <img class="loader-img" src="res/img/spinner.svg"/>
    <div class="loader-txt">REBOOTING THE WEB</div>
  </div>
  <div id="three-container"></div>
  <div class="webgl-error">Your browser does not appear to support WebGL.</div>
</div>

<script src="js/main.<%= jsExt %>"></script>

<script>
  window.globe = new Globe('/res/tex');

  window.globe.addEventListener('preloader_hide_start', function() {
    console.log('preloader hide start');
  });
  window.globe.addEventListener('preloader_hide_complete', function() {
    console.log('preloader hide complete');
  });
</script>

<!-- Release <%= version %> at <%= new Date() %> -->

</body>
</html>
